* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins",sans-serif;
}
.calculator-wrapper {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  background: #fdf5f0;
}
.calculator-inner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 400px;
  height: 550px;
  padding: 20px;
  border: 5px solid #a99587;
  border-radius: 30px;
  background-color: WHITE;
}
.display-wrapper {
  width: 100%;
  height: 180px;
  border-radius: 30px;
  box-shadow: 0px 20px 10px -10px #f7ceb4;
  background: linear-gradient(90deg, #f6c08e, #f2ac88);
}
.display {
  width: 100%;
  height: 100%;
  text-align: right;
  display: grid;
  place-content: center;
  font-size: 2.5rem;
  font-weight: 800;
  color:chocolate;
}
.button-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 20px;
}
button {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
  font-size: 2rem;
  display: grid;
  place-content: center;
  background-color: #fdf5f0;
  transition: all 200ms ease 0s;
}
button:hover {
  transform: scale(0.9);
}
.equal-to-button {
  grid-row: 4/6;
  grid-column: 4/5;
  background-color: #f7ceb4;
}
